<!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="userId">User name:</label>
        <input type="text" id="userId" [(ngModel)]="userId" name="userId" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
   -->
<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="userId">User name:</label>
            <input type="text" id="userId" [(ngModel)]="userId" name="userId" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

