/* src/app/login/login.component.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 16px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

button {
    align-self: center;
    margin-top: 16px;
}