/* src/app/login/login.component.css */
/* .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 16px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

button {
    align-self: center;
    margin-top: 16px;
} */


/* new */

/* src/app/login/login.component.css */

/* Navbar styles */

/* --------------------------------------------------- */

.navbar {
    background-color: #c81832; /* Set the background color to red */
    color: white; /* Set text color to white */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand .logo {
    height: 40px; /* Adjust the height of the logo */
    margin-right: 8px; /* Adjust the space between the logo and the brand text */
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
    font-size: 16px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 16px;
    padding-top: 64px; /* Adjust padding to account for the fixed navbar */
  }
  
  .form-box {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(153, 86, 86, 0.1);
    background-color: #fff;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin-bottom: 16px;
    text-align: left;
    width: 100%;
  }
  
  h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c0c0c0;
    margin: 10px 0 0;
    position: absolute;
    left: 0;
    bottom: -5px;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form-field {
    width: 100%;
    font-size: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }
  
  button {
    align-self: center;
    margin-top: 16px;
    padding: 8px 12px;
    background-color: #d11935;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #e31837;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  



